<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>
    <link rel="stylesheet" href="//www.jobkorea.co.kr/favicon.ico?20250321">
    <link rel="stylesheet" href="/static/css/member/find-id.css">
</head>
<body id="main-id" class="main">
    <div id="skipNavigation">
        <p>
            <a href="#container">메뉴 건너뛰기</a>
        </p>
    </div>
    <hr>
    <div id="header-wrapper">
        <div class="header">
            <div id="gnb">
                <h1>
                    <a class="logo" href="https://www.jobkorea.co.kr">
                        <img src="//i.jobkorea.kr/content/images/2023/common/gnb/h_logo.png" alt="잡코리아">
                    </a>
                    <span class="bar">
                        <span class="title">
                            <img src="/img/member/h_cc_schid.gif" alt="아이디 찾기">
                        </span>
                    </span>
                </h1>
                <div class="secNav">
                    <ol>
                        <li class="mn1">
                            <a href="http://www.jobkorea.co.kr/Login/Search/Search_ID.asp?OEM_No=1">
                                <span></span>
                                "아이디 찾기"
                            </a>
                        </li>
                        <li class="mn2">
                            <a href="http://www.jobkorea.co.kr/Login/Search/search_pwd.asp?OEM_No=1">
                                <span></span>
                                "비밀번호 찾기"
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="wrap">
        <!--// Contents Area -->
        <div id="container">
            <div id="content">
                <h1 class="skip">아이디 찾기</h1>
                <div class="member-info-wrapper">
                    <h2 class="member-info">
                        <img src="/img/member/title/mbr_h_reg_gg.gif" alt0="회원정보 입력">
                    </h2>
                    <div class="info-text">
                        <p>회원구분별로 가입 시 입력한 본인정보를 입력해 주세요.</p>
                    </div>
                    <form name="pageForm" method="post" onsubmit="return form_send();return false;" action="/Login/Search/Search_ID_Ok.asp">
                        <input type="hidden" id="foreigner" name="foreigner" value="1">
                        <input type="hidden" id="CHK_Name" name="CHK_Name">
                        <input type="hidden" id="C_Ident" name="C_Ident">
                        <input type="hidden" id="PhoneType" name="PhoneType" value="1">
                        <input type="hidden" id="DB_Name" name="DB_Name" value="GG">
                        <input type="hidden" id="OEM_No" name="OEM_No" value="1">
                        <input type="hidden" id="nSite_Code" name="nSite_Code" value="JK">
                        <input type="hidden" id="Certifytype" name="Certifytype" value="1">
                        <input type="hidden" name="CertifytySvc" id="CertifytySvc" value="2">
                        <input type="hidden" id="IdentPass_Type" name="IdentPass_Type" value="5">
                        <!--// 이메일 인증 -->
                        <div class="individual-wrapper">
                            <fieldset>
                                <legend>개인회원-이메일인증 입력폼</legend>
                                <div class="individual-wrapper-box">
                                    <h3>
                                        <img src="/img/member/title/mbr_h_sub_gg.gif" alt="개인회원">
                                    </h3>
                                    <ul class="individual-data">
                                        <li>
                                            <div class="option">
                                                <input type="radio" id="lb_certifytype_email" name="lb_certifytype" value="1" checked="">
                                                <label for="lb_certifytype_email">이메일 인증</label>
                                                <input type="radio" id="lb_certifytype_mobile" name="lb_certifytype" value="2">
                                                <label for="lb_certifytype_mobile">휴대폰 인증</label>
                                            </div>
                                            <!-- <::after></::after> -->
                                        </li>
                                        <li id="individual-name">
                                            <label for="lb_name" class="title">이름</label>
                                            <input type="text" name="lb_name" id="lb_name" maxlength="50" style="width:308px; ime-mode:active;" class="ipText">
                                            <!-- <::after></::after> -->
                                        </li>
                                        <li id="individual-email">
                                            <label for="lb_email_head" class="title">이메일 주소</label>
                                            <input type="text" name="lb_email_head" id="lb_email_head" maxlength="30" style="width:80px;" class="ipText">
                                            <span class="delimiter">@</span>
                                            <input type="text" name="lb_email_detail" id="lb_email_detail" maxlength="20" style="width:80px;" class="ipText" title="e-메일 서비스 입력" onkeyup="Gmail_Check();">
                                            <select title="e-메일 사업자" name="lb_email_select" id="lb_email_select" class="ipSelect ipSelect_1" onchange="mail_input(); Gmail_Check();">
									            <option value="">선택하세요</option>
									            <option value="naver.com">naver.com</option>
									            <option value="hanmail.net">hanmail.net</option>
									            <option value="nate.com">nate.com</option>
									            <option value="daum.net">daum.net</option>
									            <option value="gmail.com">gmail.com</option>
									            <option value="dreamwiz.com">dreamwiz.com</option>
									            <option value="etc">직접입력</option>
								            </select>
                                            <!-- <::after></::after> -->
                                        </li>
                                        </li>
                                    </ul>
                                </div>
                            </fieldset>
                        </div>
                        <div class="business-info">
                            <fieldset>
                                <legend>기업회원 인증 입력폼</legend>
                                <div class="business-info-box">
                                    <h3>
                                        <img src="/img/member/title/mbr_h_sub_gi.gif" alt="기업회원">
                                    </h3>
                                    <ul class="business-data">
                                        <li>
                                            <div class="option">
                                                <input type="radio" id="lb_mbrtype_GI" name="lb_certifytypeCP" value="GI">
                                                <label for="lb_mbrtype_GI">기업회원</label>
                                                <input type="radio" id="lb_mbrtype_SF" name="lb_certifytypeCP" value="SF">
                                                <label for="lb_mbrtype_SF">서치펌회원</label>
                                            </div>
                                            <!-- <::after></::after> -->
                                        </li>
                                        <li>
                                            <label for="C_Register" class="title">
                                                "가입자명"
                                                <div class="tipHover">
                                                    <button>
                                                        <img src="//i.jobkorea.kr/content/images/2023/member/icoLoginTip.png" alt="기업회원">
                                                    </button>
                                                    <div class="tip">
                                                        "회원가입 시 등록한 기업담당자"
                                                        <br>
                                                        "이름을 입력해주세요. "
                                                        <!-- <a href="#" class="tipClose">닫기</a> -->
                                                    </div>
                                                </div>
                                            </label>
                                            <input type="text" name="C_Register" id="C_Register" maxlength="50" style="width:308px;" class="ipText" disabled="disabled">
                                            <!-- <::after></::after> -->
                                        </li>
                                        <li>
                                            <label for="work_rr_no1" class="title">사업자등록번호</label>
                                            <input type="text" id="work_rr_no1" name="work_rr_no1" maxlength="3" style="width:94px;" class="ipText" onkeyup="javascript:lengthCheck( this );" title="사업자등록번호 첫번째자리">
                                            <span class="delimiter">-</span>
                                            <input type="text" id="work_rr_no2" name="work_rr_no2" maxlength="2" style="width:88px;" class="ipText" onkeyup="javascript:lengthCheck( this );" title="사업자등록번호 두번째자리">
                                            <span class="delimiter">-</span>
                                            <input type="text" id="work_rr_no3" name="work_rr_no3" maxlength="5" style="width:94px;" class="ipText" title="사업자등록번호 세번째자리">
                                            <!-- <::after></::after> -->
                                        </li>
                                    </ul>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>
                <p class="find-function">
                    <span class="find-wrapper">
                        <button type="button" onclick="goCertifyCheck();return false;">
                            <span>아이디 찾기</span>
                        </button>
                    </span>
                </p>
                <hr>
                <!--// 고객센터 문의 -->
                <div class="help-wrapper">
                    <h2 class="skip">고객센터문의</h2>
                    <!--// 아이디 찾기 경우 -->
                    <p class="info">- 위 방법으로 아이디를 확인하기 힘드신 경우, 고객센터로 문의해 주세요.</p>
                    <div class="help-info">
                        <dl class="tel">
                            <dt>
                                <span></span>
                                "전화문의"
                            </dt>
                            <dd>Tel: 1588-9350  FaX: 02-565-9351</dd>
                            <dd>평일 09:00~19:00, 토 09:00~15:00 일/공휴일 휴무</dd>
                        </dl>
                        <dl class="email">
                            <dt>
                                <span></span>
                                "메일문의"
                            </dt>
                            <dd>
                                <a href="mailto:helpdesk@jobkorea.co.kr">helpdesk@jobkorea.co.kr</a>
                            </dd>
                            <dd class="odd">
                                <a href="http://www.jobkorea.co.kr/Customer_C/ETC/CC_inquiry.asp?OEM_No=1">문의·신고</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <hr>
                <!-- <::after></::after> -->
            </div>
            <!-- <::after></::after> -->
        </div>
        <hr>
    </div>
    <div id="footer" class="footer-all">
        <div class="footer-wrapper">
            <div class="footer__advertisement clear"></div>
            <!--공지사항-->
            <div class="footer-notice">
                <h3 class="blind">공지사항</h3>
                <dl class="footer-notice-wrap clear">
                    <dt class="footer-notice-title">
                        <a href="http://www.jobkorea.co.kr/service_jk/notice_list.asp">공지사항</a>
                    </dt>
                    <dd class="footer-notice-text" id="SubFooterNoticeList_1" style="display:none;">
                        <a href="http://www.jobkorea.co.kr/Service_JK/notice_read.asp?B_No=225">
                            2021년 설 연휴 유료서비스 연장적용 및 고객지원 안내 
                            <em class="tahoma">21.01.29</em>
                        </a>
                    </dd>
                    <dd class="footer-notice-text" id="SubFooterNoticeList_2" style="display:none;">
                        <a href="http://www.jobkorea.co.kr/Service_JK/notice_read.asp?B_No=224">
                            출석체크 이벤트 테스트 
                            <em class="tahoma">21.01.13</em>
                        </a>
                    </dd>
                    <dd class="footer-notice-text" id="SubFooterNoticeList_3" style="display:none;">
                        <a href="http://www.jobkorea.co.kr/Service_JK/notice_read.asp?B_No=222">
                            기업회원 인재검색 서칭서비스 상품 개편 사전안내 
                            <em class="tahoma">20.12.10</em>
                        </a>
                    </dd>
                    <dd class="footer-notice-text" id="SubFooterNoticeList_4" style>
                        <a href="http://www.jobkorea.co.kr/Service_JK/notice_read.asp?B_No=221">
                            테스트 공지사항 
                            <em class="tahoma">20.12.01</em>
                        </a>
                    </dd>
                    <dd class="footer-notice-text" id="SubFooterNoticeList_5" style="display:none;">
                        <a href="http://www.jobkorea.co.kr/Service_JK/notice_read.asp?B_No=220">
                            간식대전 이벤트 
                            <em class="tahoma">20.11.30</em>
                        </a>
                    </dd>
                </dl>
                <ul class="list-service">
                    <li>
                        <a href="http://www.jobkorea.co.kr/theme/main" target="_blank">전문채용관</a>
                        <!-- <::after></::after> -->
                    </li>
                    <li>
                        <a href="http://www.jobkorea.co.kr/super/main" target="_blank">슈퍼기업관</a>
                        <!-- <::after></::after> -->
                    </li>
                    <li>
                        <a href="http://www.jobkorea.co.kr/corp/offer/list" target="_blank">헤드헌팅 의뢰</a>
                        <!-- <::after></::after> -->
                    </li>
                    <li>
                        <a href="http://www.jobkorea.co.kr/service/company/learning" target="_blank">기업러닝</a>
                        <!-- <::after></::after> -->
                    </li>
                </ul>
                <span class="footer-notice-service">
                    <a href="http://www.jobkorea.co.kr/service_jk/site_map.asp">
                        더보기
                        <!-- <::after></::after> -->
                    </a>
                </span>
            </div>
            <div class="footer-service">
                <h3 class="blind">잡코리아 서비스 링크</h3>
                <ul>
                    <li>
                        <a href="http://company.jobkorea.co.kr/" target="_blank">회사소개</a>
                    </li>
                    <li>
                        <a href="http://www.jobkorea.co.kr/brand/" target="_blank">브랜드 스토리</a>
                    </li>
                    <li>
                        <a href="http://www.jobkorea.co.kr/service_jk/provision/provision_gg.asp" target="_blank">이용약관</a>
                    </li>
                    <li>
                        <a href="http://www.jobkorea.co.kr/service_jk/privacy.asp" target="_blank"><strong>개인정보처리방침</strong></a>
                    </li>
                    <li>
                        <a href="http://company.jobkorea.co.kr/network/api.asp" target="_blank">Open API</a>
                    </li>
                    <li><a href="https://five-spruce-e1e.notion.site/126489c312168029a6f0c8ac142cbecf" target="_blank">광고문의</a>
                    </li>
                    <li>
                        <a href="http://company.jobkorea.co.kr/network/default.asp#Partners" target="_blank">제휴문의</a>
                    </li>
                    <li>
                        <a href="http://www.jobkorea.co.kr/help/faq/user" target="_blank">고객센터</a>
                    </li>
                </ul>
            </div>
            <div class="footer-help">
                <h3 class="blind">고객센터</h3>
                <dl class="footer-help-wrap footer-help-wrap-working-hour">
                    <dt class="footer__help-title">
                        고객센터
                        <!-- <::after></::after> -->
                    </dt>
                    <dd class="footer-help-text">
                        <span>1588-9350</span>
                    </dd>
                    <dd class="footer-help-text">
                        (평일 
                        <span>09:00 ~ 19:00</span>
                          토요일 
                          <span>09:00 ~ 15:00</span>
                          )
                    </dd>
                </dl>
                <dl class="footer-help-wrap footer-help-wrap-fax">
                    <!-- <::before></::before> -->
                     <dt class="footer-help-title">
                        <span>FAX</span>
                        <!-- <::after></::after> -->
                     </dt>
                     <dd class="footer-help-text">
                        <span>02-565-9351</span>
                     </dd>
                </dl>
                <dl class="footer-help-wrap footer-help-wrap-email">
                    <!-- <::before></::before> -->
                     <dt class="footer-help-title">
                        <span>Email</span>
                        <!-- <::after></::after> -->
                     </dt>
                     <dd class="footer-help-text">
                        <a href="mailto:helpdesk@jobkorea.co.kr" class="footer__help-link">helpdesk@jobkorea.co.kr</a>
                     </dd>
                </dl>
                <dl class="footer-help-wrap footer-help-wrap-consult">
                    <!-- <::before></::before> -->
                     <a href="https://talk.naver.com/ct/wcb8l5" target="_blank" title="새창" class="footer-help-link">
                        <span class="footer__help--icon"></span>
                        <span class="footer__help--text">톡톡상담</span>
                     </a>
                </dl>
                <ul class="footer-sns">
                    <!-- <::before></::before> -->
                     <li class="footer-sns-item">
                        <a href="https://blog.naver.com/jobkorea1" target="_blank" title="블로그" class="footer-sns-item-blog">
                            <span class="skip">블로그</span>
                        </a>
                     </li>
                     <li class="footer-sns-item">
                        <a href="https://m.post.naver.com/my.nhn?memberNo=9028903" target="_blank" title="포스트" class="footer-sns-item--post">
                            <span class="skip">포스트</span>
                        </a>
                     </li>
                     <li class="footer-sns-item">
                        <a href="https://www.facebook.com/jobkorea" target="_blank" title="페이스북" class="footer-sns-item-facebook">
                            <span class="skip">페이스북</span>
                        </a>
                     </li>
                     <li class="footer-sns-item">
                        <a href="https://www.instagram.com/jobkorea_albamon/" target="_blank" title="인스타그램" class="footer-sns-item-instagram">
                            <span class="skip">인스타그램</span>
                        </a>
                     </li>
                     <li class="footer-sns-item">
                        <a href="https://www.youtube.com/channel/UCOrdY3p46GJh_CYacfwYieg" target="_blank" title="유튜브" class="footer-sns-item-youtube">
                            <span class="skip">유튜브</span>
                        </a>
                     </li>
                </ul>
            </div>
            <p class="copyright">
                ⓒ 
                <strong>
                    <a href="http://company.jobkorea.co.kr/" target="_blank">JOBKOREA</a>
                </strong>
                 LLC. All rights reserved.
            </p>
        </div>
    </div>
</body>
</html>