<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/static/css/skill-log/dashboard.css" />
    </head>
    <body class="skill-log-body">
        <div>
            <div class="skill-log-container">
                <div class="skill-log-nav-container1">
                    <div class="skill-log-nav-container2">
                        <nav class="skill-log-nav">
                            <div class="skill-log-nav-div">
                                <a class="skill-log-blog-a" href="">
                                    <p class="skill-log-blog-p">블로그</p>
                                </a>
                                <div
                                    height="16"
                                    class="skill-log-context16"
                                ></div>
                                <ul class="nav-list">
                                    <li class="nav-list-li">
                                        <a href="">
                                            <div
                                                class="nav-list-li-1 nav-list-li-2"
                                            >
                                                <div class="nav-list-li-text">
                                                    홈
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-list-li">
                                        <a href="">
                                            <div
                                                class="nav-list-li-1 nav-list-li-2"
                                            >
                                                <div class="nav-list-li-text">
                                                    이벤트
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-list-li">
                                        <a href="">
                                            <div
                                                class="nav-list-li-1 nav-list-li-2"
                                            >
                                                <div class="nav-list-li-text">
                                                    성공사례
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-list-li">
                                        <a href="">
                                            <div
                                                class="nav-list-li-1 nav-list-li-2"
                                            >
                                                <div class="nav-list-li-text">
                                                    채널톡 사용팁
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-list-li">
                                        <a href="">
                                            <div
                                                class="nav-list-li-1 nav-list-li-2"
                                            >
                                                <div class="nav-list-li-text">
                                                    비즈 인사이트
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-list-li">
                                        <a href="">
                                            <div
                                                class="nav-list-li-1 nav-list-li-2"
                                            >
                                                <div class="nav-list-li-text">
                                                    워크북
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-list-li">
                                        <a href="">
                                            <div
                                                class="nav-list-li-1 nav-list-li-2"
                                            >
                                                <div class="nav-list-li-text">
                                                    개념허브
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-list-li">
                                        <a href="">
                                            <div
                                                class="nav-list-li-1 nav-list-li-2"
                                            >
                                                <div class="nav-list-li-text">
                                                    뉴스룸
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-list-li">
                                        <div
                                            orientation="horizontal"
                                            data-orientation="horizontal"
                                            role="separator"
                                            class="nav-list-li-line"
                                        ></div>
                                    </li>
                                    <li class="nav-list-li">
                                        <a target="_blank" href="">
                                            <div class="skill-log-channel">
                                                <p
                                                    class="skill-log-channel-font"
                                                >
                                                    채널팀 이야기
                                                </p>
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    fill="none"
                                                    viewBox="0 0 24 24"
                                                    foundation="[object Object]"
                                                    class="skill-log-ikon-1 skill-log-ikon-2"
                                                    data-testid="bezier-react-icon"
                                                    margintop="0"
                                                    marginright="0"
                                                    marginbottom="0"
                                                    marginleft="0"
                                                >
                                                    <path
                                                        fill="currentColor"
                                                        fill-rule="evenodd"
                                                        d="M10.357 3H12v2h-1.6c-1.137 0-1.929 0-2.546.051-.605.05-.953.142-1.216.276a3 3 0 0 0-1.311 1.311c-.134.263-.226.611-.276 1.216C5.001 8.471 5 9.264 5 10.4v3.2c0 1.137 0 1.929.051 2.546.05.605.142.953.276 1.216a3 3 0 0 0 1.311 1.311c.263.134.611.226 1.216.276.617.05 1.41.051 2.546.051h3.2c1.137 0 1.929 0 2.546-.051.605-.05.953-.142 1.216-.276a3 3 0 0 0 1.311-1.311c.134-.263.226-.611.276-1.216.05-.617.051-1.41.051-2.546V12h2v1.643c0 1.084 0 1.958-.058 2.666-.06.729-.185 1.369-.487 1.961a5 5 0 0 1-2.185 2.185c-.592.302-1.232.428-1.961.487C15.6 21 14.727 21 13.643 21h-3.286c-1.084 0-1.958 0-2.666-.058-.728-.06-1.369-.185-1.96-.487a5 5 0 0 1-2.186-2.185c-.302-.592-.428-1.232-.487-1.961C3 15.6 3 14.727 3 13.643v-3.286c0-1.084 0-1.958.058-2.666.06-.728.185-1.369.487-1.96A5 5 0 0 1 5.73 3.544c.592-.302 1.233-.428 1.961-.487C8.4 3 9.273 3 10.357 3"
                                                        clip-rule="evenodd"
                                                    ></path>
                                                    <path
                                                        fill="currentColor"
                                                        d="M20.808 8.588C21 8.364 21 7.88 21 6.91V4.6c0-.56 0-.84-.109-1.054a1 1 0 0 0-.437-.437C20.24 3 19.96 3 19.4 3h-2.31c-.97 0-1.454 0-1.678.192a.8.8 0 0 0-.278.67c.023.295.366.638 1.051 1.323l.608.608-5 5a1 1 0 0 0 1.414 1.414l5-5 .608.608c.685.685 1.028 1.028 1.322 1.051a.8.8 0 0 0 .671-.278"
                                                    ></path>
                                                </svg>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div
                                    height="40"
                                    class="skill-log-context40"
                                ></div>
                                <button class="skill-log-button">
                                    <div class="skill-log-find">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            foundation="[object Object]"
                                            class="Iconstyled__Icon-sc-1iqwu2g-0 jNRprS sc-b4bed446-6 hZrmnF"
                                            color="txt-black-dark"
                                            margintop="0"
                                            marginright="0"
                                            marginbottom="0"
                                            marginleft="0"
                                        >
                                            <path
                                                fill="currentColor"
                                                d="M10 2a8 8 0 0 1 8 8c0 1.849-.63 3.549-1.682 4.903l5.39 5.39a1 1 0 1 1-1.415 1.414l-5.39-5.39A7.96 7.96 0 0 1 10 18a8 8 0 1 1 0-16m0 2a6 6 0 1 0 0 12 6 6 0 0 0 0-12"
                                            ></path>
                                        </svg>
                                        <span
                                            class="Textstyled__Text-sc-1u7b1ni-0 eWkHSh"
                                            color="txt-black-dark"
                                            >검색</span
                                        >
                                    </div>
                                </button>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="skill-log-big-2">
                    <div class="skill-log-main-container">
                        <div>
                            <div class="skill-log-main-context10"></div>
                            <section>
                                <div class="sc-43b60cb4-0 eulbIB">
                                    <div class="sc-43b60cb4-1 kVjvfQ">
                                        <h2 class="sc-43b60cb4-4 dbcVBR">최근 아티클</h2>
                                        <article class="sc-bc0e0f02-0 iaquVS">
                                            <div class="sc-d8ccd953-0 krhbJu">
                                                <div class="sc-d8ccd953-1 eLHOhP">
                                                    <img
                                                        alt="대표 아티클 썸네일"
                                                        src="https://cf.channel.io/document/spaces/8276/usermedia/695c5d94aaba62a0eb45"
                                                        class="sc-d8ccd953-2 gmfeep"
                                                    />
                                                </div>
                                            </div>
                                            <div class="sc-bc0e0f02-1 eMplVq">
                                                <div class="sc-bc0e0f02-3 kOwjkH">
                                                    <h3 class="sc-d8ccd953-5 kUegWa">
                                                        <a
                                                            class="sc-d8ccd953-6 koNmoK"
                                                            href="/ko/blog/articles/2025-update-81db1d1d"
                                                            >
                                                            2025년 채널톡
                                                            업데이트 총결산
                                                        </a>
                                                    </h3>
                                                    <p class="sc-d8ccd953-7 byOtxk">
                                                        CX팀이 꼭 알아야 할 핵심
                                                        변화를 한 눈에
                                                        확인하세요.
                                                    </p>
                                                </div>
                                                <div
                                                    class="sc-bc0e0f02-4 dxEjNq"
                                                >
                                                    <p
                                                        class="sc-d8ccd953-3 guXfwU"
                                                    >
                                                        <time
                                                            class="sc-846f6870-0 bbAYZK"
                                                            >2026년 1월
                                                            6일</time
                                                        >
                                                        ·
                                                        <span
                                                            class="sc-d8ccd953-4 fYmKeg"
                                                            >jojo</span
                                                        >
                                                    </p>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="sc-43b60cb4-2 hFMQZG">
                                        <div class="sc-43b60cb4-3 flcGag">
                                            <article
                                                class="sc-ac4a46ab-0 ebCFQi"
                                            >
                                                <div
                                                    direction="horizontal"
                                                    class="sc-ac4a46ab-1 iqLHQZ"
                                                >
                                                    <div
                                                        class="sc-ac4a46ab-2 kYdUa-D"
                                                    >
                                                        <div
                                                            class="sc-d8ccd953-0 krhbJu"
                                                        >
                                                            <div
                                                                class="sc-d8ccd953-1 eLHOhP"
                                                            >
                                                                <img
                                                                    alt="아티클 썸네일"
                                                                    src="https://cf.channel.io/document/spaces/8276/usermedia/695b2932eb9c2d4eb807"
                                                                    class="sc-d8ccd953-2 gmfeep"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sc-ac4a46ab-3 dsXfiJ"
                                                    >
                                                        <div
                                                            class="sc-ac4a46ab-4 lkSmbl"
                                                        >
                                                            <div
                                                                class="sc-ac4a46ab-5 ibPRsr"
                                                            >
                                                                <h3
                                                                    class="sc-d8ccd953-5 czNZUu"
                                                                >
                                                                    <a
                                                                        class="sc-d8ccd953-6 koNmoK"
                                                                        href="/ko/blog/articles/caio-press-d70fcf47"
                                                                        >채널코퍼레이션,
                                                                        日
                                                                        글로벌브레인
                                                                        이경훈
                                                                        한국
                                                                        대표
                                                                        CAIO로
                                                                        영입</a
                                                                    >
                                                                </h3>
                                                                <p
                                                                    class="sc-d8ccd953-7 byOtxk"
                                                                >
                                                                    AX 전환 및
                                                                    일본 공략
                                                                    가속
                                                                </p>
                                                            </div>
                                                            <div
                                                                class="sc-ac4a46ab-8 fFdTlk"
                                                            >
                                                                <p
                                                                    class="sc-d8ccd953-3 guXfwU"
                                                                >
                                                                    <time
                                                                        class="sc-846f6870-0 bbAYZK"
                                                                        >2026년
                                                                        1월
                                                                        5일</time
                                                                    >
                                                                    ·
                                                                    <span
                                                                        class="sc-d8ccd953-4 fYmKeg"
                                                                        >Channel
                                                                        Talk</span
                                                                    >
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                            <article
                                                class="sc-ac4a46ab-0 ebCFQi"
                                            >
                                                <div
                                                    direction="horizontal"
                                                    class="sc-ac4a46ab-1 iqLHQZ"
                                                >
                                                    <div
                                                        class="sc-ac4a46ab-2 kYdUa-D"
                                                    >
                                                        <div
                                                            class="sc-d8ccd953-0 krhbJu"
                                                        >
                                                            <div
                                                                class="sc-d8ccd953-1 eLHOhP"
                                                            >
                                                                <img
                                                                    alt="아티클 썸네일"
                                                                    src="https://cf.channel.io/document/spaces/8276/usermedia/694e1f2ba35f30ef26e2"
                                                                    class="sc-d8ccd953-2 gmfeep"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sc-ac4a46ab-3 dsXfiJ"
                                                    >
                                                        <div
                                                            class="sc-ac4a46ab-4 lkSmbl"
                                                        >
                                                            <div
                                                                class="sc-ac4a46ab-5 ibPRsr"
                                                            >
                                                                <h3
                                                                    class="sc-d8ccd953-5 czNZUu"
                                                                >
                                                                    <a
                                                                        class="sc-d8ccd953-6 koNmoK"
                                                                        href="/ko/blog/articles/cx-club-afterhour-202512-b3de89d2"
                                                                        >2025 AI
                                                                        시대 CX
                                                                        매니저의
                                                                        일
                                                                        이야기</a
                                                                    >
                                                                </h3>
                                                                <p
                                                                    class="sc-d8ccd953-7 byOtxk"
                                                                >
                                                                    CX클럽 연말
                                                                    회고 워크샵
                                                                    후기
                                                                </p>
                                                            </div>
                                                            <div
                                                                class="sc-ac4a46ab-8 fFdTlk"
                                                            >
                                                                <p
                                                                    class="sc-d8ccd953-3 guXfwU"
                                                                >
                                                                    <time
                                                                        class="sc-846f6870-0 bbAYZK"
                                                                        >2025년
                                                                        12월
                                                                        30일</time
                                                                    >
                                                                    ·
                                                                    <span
                                                                        class="sc-d8ccd953-4 fYmKeg"
                                                                        >Jupiter</span
                                                                    >
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                            <article
                                                class="sc-ac4a46ab-0 ebCFQi"
                                            >
                                                <div
                                                    direction="horizontal"
                                                    class="sc-ac4a46ab-1 iqLHQZ"
                                                >
                                                    <div
                                                        class="sc-ac4a46ab-2 kYdUa-D"
                                                    >
                                                        <div
                                                            class="sc-d8ccd953-0 krhbJu"
                                                        >
                                                            <div
                                                                class="sc-d8ccd953-1 eLHOhP"
                                                            >
                                                                <img
                                                                    alt="아티클 썸네일"
                                                                    src="https://cf.channel.io/document/spaces/8276/usermedia/69522f5486aede550c31"
                                                                    class="sc-d8ccd953-2 gmfeep"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sc-ac4a46ab-3 dsXfiJ"
                                                    >
                                                        <div
                                                            class="sc-ac4a46ab-4 lkSmbl"
                                                        >
                                                            <div
                                                                class="sc-ac4a46ab-5 ibPRsr"
                                                            >
                                                                <h3
                                                                    class="sc-d8ccd953-5 czNZUu"
                                                                >
                                                                    <a
                                                                        class="sc-d8ccd953-6 koNmoK"
                                                                        href="/ko/blog/articles/ai-case-coloso-50251ab6"
                                                                        >해결률
                                                                        80%
                                                                        달성한
                                                                        콜로소
                                                                        AI
                                                                        상담원,
                                                                        고객들이
                                                                        더
                                                                        좋아하는
                                                                        이유</a
                                                                    >
                                                                </h3>
                                                                <p
                                                                    class="sc-d8ccd953-7 byOtxk"
                                                                >
                                                                    [채널톡
                                                                    성공사례]
                                                                    콜로소(데이원컴퍼니)
                                                                </p>
                                                            </div>
                                                            <div
                                                                class="sc-ac4a46ab-8 fFdTlk"
                                                            >
                                                                <p
                                                                    class="sc-d8ccd953-3 guXfwU"
                                                                >
                                                                    <time
                                                                        class="sc-846f6870-0 bbAYZK"
                                                                        >2025년
                                                                        12월
                                                                        29일</time
                                                                    >
                                                                    ·
                                                                    <span
                                                                        class="sc-d8ccd953-4 fYmKeg"
                                                                        >LENA</span
                                                                    >
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div
                                            data-testid="bezier-react-divider"
                                            orientation="horizontal"
                                            data-orientation="horizontal"
                                            role="separator"
                                            class="Dividerstyled__Divider-sc-cu77pw-0 fbTvMx"
                                        ></div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
